@@include('../bem-blocks/title-block/_title-block.html',{
"title": "FREE CASINO GAMES ",
"text": "Get Virtual Welcome bonus after Sign Up"
})
@@include('../bem-blocks/list-games/_list-games.html',{
"game-url1": "https://www.wolfgold777.com/games/1/index.html",
"data1": "",
"game-img1": "img/game1.webp",
"game-name1": "",

"game-url2": "https://www.wolfgold777.com/games/2/index.html",
"data2": "",
"game-img2": "img/game2.webp",
"game-name2": "",

"game-url3": "https://www.wolfgold777.com/games/3/index.html",
"data3": "",
"game-img3": "img/game3.webp",
"game-name3": "",

"game-url4": "https://www.wolfgold777.com/games/4/index.html",
"data4": "",
"game-img4": "img/game4.webp",
"game-name4": "",

"game-url5": "https://www.wolfgold777.com/games/5/index.html",
"data5": "",
"game-img5": "img/game5.webp",
"game-name5": "",

"game-url6": "https://www.wolfgold777.com/games/6/index.html",
"data6": "",
"game-img6": "img/game6.webp",
"game-name6": "",

"game-url7": "https://www.wolfgold777.com/games/7/index.html",
"data7": "",
"game-img7": "img/game7.webp",
"game-name7": "",

"game-url8": "https://www.wolfgold777.com/games/8/index.html",
"data8": "",
"game-img8": "img/game8.webp",
"game-name8": "",

"game-url9": "https://www.wolfgold777.com/games/9/index.html",
"data9": "",
"game-img9": "img/game9.webp",
"game-name9": "",

"game-url10": "https://www.wolfgold777.com/games/10/index.html",
"data10": "",
"game-img10": "img/game10.webp",
"game-name10": "",

"game-url11": "https://www.wolfgold777.com/games/11/index.html",
"data11": "",
"game-img11": "img/game11.webp",
"game-name11": "",

"game-url12": "https://www.wolfgold777.com/games/12/index.html",
"data12": "",
"game-img12": "img/game12.webp",
"game-name12": "",
})


<!-- #form-login -->