@@include('../bem-blocks/title-block/_title-block.html',{
"title": "NEW SLOT MACHINE GAMES",
"text": "Bonus Wheel spins every 4 hours. Spice things up with MORE CHILLI slots"
})
@@include('../bem-blocks/list-games/_list-games.html',{
"game-url1": "https://www.wolfgold777.com/games/13/index.html",
"data1": "",
"game-img1": "img/game13.webp",
"game-name": "",

"game-url2": "https://www.wolfgold777.com/games/14/index.html",
"data2": "",
"game-img2": "img/game14.webp",
"game-name": "",

"game-url3": "https://www.wolfgold777.com/games/15/index.html",
"data3": "",
"game-img3": "img/game15.webp",
"game-name": "",

"game-url4": "https://www.wolfgold777.com/games/16/index.html",
"data4": "",
"game-img4": "img/game16.webp",
"game-name": "",

"game-url5": "https://www.wolfgold777.com/games/17/index.html",
"data5": "",
"game-img5": "img/game17.webp",
"game-name": "",

"game-url6": "https://www.wolfgold777.com/games/18/index.html",
"data6": "",
"game-img6": "img/game18.webp",
"game-name": "",

"game-url7": "https://www.wolfgold777.com/games/19/index.html",
"data7": "",
"game-img7": "img/game19.webp",
"game-name": "",

"game-url8": "https://www.wolfgold777.com/games/20/index.html",
"data8": "",
"game-img8": "img/game20.webp",
"game-name": "",

"game-url9": "https://www.wolfgold777.com/games/21/index.html",
"data9": "",
"game-img9": "img/game21.webp",
"game-name": "",

"game-url10": "https://www.wolfgold777.com/games/22/index.html",
"data10": "",
"game-img10": "img/game22.webp",
"game-name": "",

"game-url11": "https://www.wolfgold777.com/games/23/index.html",
"data11": "",
"game-img11": "img/game23.webp",
"game-name": "",

"game-url12": "https://www.wolfgold777.com/games/24/index.html",
"data12": "",
"game-img12": "img/game24.webp",
"game-name": "",
})