@import 'base/*.scss';
@import 'global/*.scss';
@import 'fonts/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

body{
  // font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  background-color: #000;

}

.container{
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}


//--------- ��� RESPONSIVE --------- ������
html {
	font-size: 10px;
}
@media screen and (max-width: 1800px) {
	html{
		font-size: 0.62vw;
	}
}
body {
	font-size: 1rem;
}
//--------- ��� RESPONSIVE --------- �����

